@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Rowdies&family=Rubik+Mono+One&display=swap');
.allfruits{
display: flex;
flex-wrap: wrap;
justify-content: center;

}
.onefruit-div{
 width:30%;
 margin-left: 2%;
 margin-right: 2%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-top: 50px;
 box-shadow: 0px 3px 10px 0px black;
 padding-bottom: 20px;
 background-color: rgb(219, 240, 215);
}
.body{
  width:100%;
  overflow-x: hidden;
  background: linear-gradient(20deg, rgba(241, 239, 115, 0.8), rgba(231, 231, 189, 0) 80.71%),     
         linear-gradient(127deg, rgba(16, 37, 16, 0.8), rgba(20, 20, 20, 0) 50.71%),          
    linear-gradient(300deg, rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0) 10%);
}
.image-div{
display: flex;
justify-content: center;
align-items: center;
 width:200px;
 height:360px
}
.image{
  width:220px;
  height:auto

}
.image:hover{
  scale:1.3
}
.fruit-name{
  font-size: xx-large;
  font-family: 'Rubik Mono One', sans-serif;
  color:rgb(235, 138, 12);
  margin-top: 20px;
  text-shadow: 1px 1px 1px black, 0 0 35px rgb(53, 206, 6), 0 0 25px rgb(224, 159, 16);
}
.button-div{
  display: flex;
  width: 100%;
  justify-content: center;
}
.button-note{
 width:20%;
 margin:10px;
 color:rgb(250, 247, 240);
 background-color: rgb(236, 167, 16);
 border-radius: 20px;
}
.button-note:hover{
  scale:0.8;
  color:rgb(235, 138, 12);
  background-color: white;
}
.link{
text-decoration: none;
color:black;
width:10%;
height:100%;
display: flex;
justify-content: center;
align-items: center;
}
.link:hover{
  animation: rotatee 0.5s ease-in;
  scale:1.3
}
@keyframes rotatee{
  from{
transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.title{
width:50%;

}
.navbar{
  height:70px;
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(189, 183, 183);
}
.navbaranimation{
  animation: navbaranim 0.5s forwards;
}
@keyframes navbaranim{
 100%{ padding-bottom:40px}
}
.shopppingcart{
height:100%;

display: flex;
align-items: flex-end;
justify-content: center;
flex-direction: column;
padding-right: 10px;

}

.sortingbutton{
 position: absolute;
 z-index: 100;
 border:0px;
 width:20%;
 background-color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 
}
.spantotalqty{
  color:black;
  text-decoration: none;
display: flex;  
justify-content: center;
align-items: center;
flex-direction: row;
 }
.sortone{
  position:absolute;
  border:0px;
  width:10%;
 background-color: inherit;
}
.sortoneanimation{
  
  position:absolute;
  width:10%;
 background-color: inherit;
  animation: sortone 0.5s forwards;
  animation-delay: 0.5s;
  border:0px
}
.sorttwoanimation{
  width:10%;
 background-color: inherit;
  position:absolute;
  animation: sorttwo 0.5s forwards;
  border:0px
}
.sorttwo{
  border:0px;
  position: absolute;
  width:10%;
 background-color: inherit;
}
.sortoneanimation:hover,.sorttwoanimation:hover{
  scale:1.1
}
.animatemain{
animation: sorttwo 0.5s forwards;
}
@keyframes sortone{

100%{
transform: translateY(20px);
}
}

@keyframes sorttwo{

  100%{
  transform: translateY(40px);
  }
  }
  .input{
   display: flex;
   justify-content: center;
   align-items: center;
  
  }
  .input-span{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .oneitem-maybe{background-color: white;}
  .span{
    text-decoration: none;
    color:black;
  }
  .span:hover{
    scale:1.3;
    cursor: pointer;

  }
  .shoppcart{
   display: flex;
   margin-left: 20px;
  }
  .cart{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .nothaveitems{
 display: flex;
 flex-direction: column;
 align-items: center;
  }
.nothaveitems-title{
font-family: 'Rubik Mono One', sans-serif;
color:green;
text-shadow: 7px 0px 5px  black;
}
.nothaveitems-p{
 color:green
}
.nothaveitems-p:hover{
  color:black
 }
 .cart-oneitem{
  display: flex;
  flex-direction: row;
  width:50%;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(182, 181, 181);
  padding-bottom: 10px;
 }
 .tit{
  border-bottom: 3px solid grey;
 }
 .tit1{
  font-family: 'Rubik Mono One', sans-serif;
  color:green;
  font-size: x-large;
 }
 .span{
  margin-right: 5px;
 }
 .cart-allitems{
  width:100%;
  display:flex;
 align-items: center;
  flex-direction: column;
  margin-top: 20px;;
 }
 .cart-name{
  width:40%;
  display: flex;
  justify-content: flex-start;
 }
 .cart-price{
  width:40%;
  display: flex;
  justify-content: flex-end;
 }
 .cart-qty{
  width:40%;
  display: flex;
  justify-content: center;
 }
 .sandclock{
animation: clock 0.7s infinite;
scale: 3;
margin-top: 180px;
 }
 @keyframes clock{
  100%{
    transform: rotate(180deg);
  }
 }
 .ratediv{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
   
 }
 
 .rate{

  background-color: white;
  position:absolute;
  z-index: 100;
  margin-top: 40vh;
  padding:30px;
  box-shadow: 0px 0px 15px 5px;
 }
 .ratebutton{
margin-top:10px;
width:20%
 }

 .form-input-email{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%

 }
 .input-name{
  width:30%;
  margin-top:15px;
  margin-bottom: 15px;
  background-color: rgb(238, 238, 193);
  border: 2px solid rgb(92, 90, 78);


 }
 .inputdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:85vh;
  margin-top:-100px;
  
 }
 .allstaff{
  margin-top: 100px;
  color:rgb(55, 59, 47);
  font-family: 'Courier New', Courier, monospace;
  
 }
.label{
  font-family: 'Courier New', Courier, monospace;

}
.buttonemail{
width:10%;
padding: 5px;
margin-top: 10px;
color:green;
background-color: rgb(238, 238, 193);
border-radius: 10px;
border:2px solid grey
}.buttonemail:hover{
  color:rgb(238, 238, 193);
  background-color: green;
  cursor: pointer;
}
.disabledbutton{
  color:rgb(238, 238, 193);
  background-color: green;
  opacity: 0.5;
  width:10%;
padding: 5px;
margin-top: 10px;
border-radius: 10px;

}
.input-error{
  background-color: yellowgreen;
  width:30%;
  margin-top:15px;
  margin-bottom: 15px;
  border: 2px solid rgb(92, 90, 78);

}
.input-error:hover, .input-name:hover{
  scale:1.1;
  cursor: pointer;
}
.h1-input{
  margin-top: 10%;
}
.linkbuttoni{
  text-decoration: none;
  color:black;
  border:2px solid rgb(6, 104, 19);
  padding:2px;
  padding-right:7px;
  padding-left:7px;
  border-radius: 10px;
}
.linkbutton{
  text-decoration: none;
  border-radius: 5px;
  border:2px solid grey;
  width:100%;
  border:0px;
  background-color: inherit;
}
.linkbutton:hover{
  scale:1.2
}

.closebutton{
  border:0px;
  background-color:inherit;
 width:100%

}
.closebutton:hover
{
scale:1.2
}
.footer{
display: flex;
justify-content: center;
align-items: center;
margin-top: 100px;
margin-bottom: 30px;
flex-direction: column;

}
.footer-p{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 50px;
 color:grey
}
.footerline{
 height: 12px;
 width:100vw;
 background:repeating-linear-gradient(  -45deg,
 rgb(34, 33, 33) 1%,
 rgb(150, 113, 46) 1% 2%,
 rgb(230, 230, 126) 2% 3%,
 rgb(9, 87, 9) 3% 4%,
 rgb(143, 143, 145) 5%);
}
.oneitem-maybe{
height:200px;
width:200px;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.oneitem-maybe p{ font-family: 'Courier New', Courier, monospace;}
.oneitem-maybe:hover{
  scale:1.1
}
.track {
  display: flex; 
  justify-content: flex-start;
  align-items: center;
  will-change: transform;
  animation: track 30s linear infinite;
  width: 100vw;
background-color: rgb(247, 247, 237);

}
.trash{
  margin-left:5px
}
.trash:hover{
  scale:1.2
}
.track:hover {
  animation-play-state: paused;
}
@keyframes track{
 from{
transform: translateX(-30%);
 }
 to{
  transform: translateX(20%);
 }
}
.oneitem-maybe-image{
  height:150px;
  width:150px
  }
.maybe{
 display: flex; 
 justify-content: center;
 align-items: center;
 width:50vw;
 overflow: hidden;
margin-top:100px;
border:1px solid grey;
box-shadow:0px 0px 15px 5px;
}
.sortoneanimation,.sorttwoanimation{ margin-right: 5%;}
@media only screen and (max-width:1245px){
  .button-note{
    font-size: x-small;
    width:30%
  }
  .oneitem-maybe-image{
    width:100px;
    height:100px
  }
}
@media only screen and (max-width:1000px){
  .maybe{
    width:70vw
  }
  .cart-oneitem{
    width:70%
  }
  .fruit-name{
    font-size:medium ;
  }
  .cart-name,.span,.cart-qty,.cart-price{
    font-size:smaller;
  }
  .span{
    margin-top: 2px;
  }
  .tit1{
    font-size: medium;
  }
  .input-name,.input-error{
    width:50%
  }
}
@media only screen and (max-width:680px){
  .maybe{
    width:80vw
  }
  .oneitem-maybe p{
    font-size: small;
  }
 
  .tit1{
    font-size: smaller;
  }
  .allfruits{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .onefruit-div{
    width:70%
  }
 
}
@media only screen and (max-width:570px){
  .disabledbutton{
    width:20%
  }
  .input-name,.input-error{
    width:70%
  }
  .oneitem-maybe-image{
    width:80px;
    height:80px
  }
  .tit1{
    font-size:x-small;
  }
.nothaveitems-title{
  font-size: x-large;
}
.fruit-name{
  font-size:smaller ;
}
.sortingbutton{
  margin-right: -5%;
}
.sortoneanimation,.sorttwoanimation{ margin-right: 0%;}

.input input{
width:70%
 
 }
}
@media only screen and (max-width:455px){
  .maybe{
    width:90vw
  }
  
 
.image{
  width:150px;
  height: 150px;
}
.onefruit-div{
  height:320px
}
.cart-oneitem{
  width:80%
}
}
@media only screen and (max-width:360px){
  .inputdiv{font-size: small;}
  .footer{
    margin-top: 50px;
    margin-bottom: 10px;
  }
.footer-p{margin-top:30px}
  .maybe{
    width:90vw
  }
  .oneitem-maybe p{
    font-size: xx-small;
  }
  .cart-oneitem{
    width:90%
  }
  .nothaveitems-title{
    font-size: large;
  }
  .sortingbutton{
   width:30%
  }
  .input input{
  width:50%;
  margin-left:-35%;
   
   }
   .maybe{
 height:100px;
 margin-top: 30%;
   }
   .oneitem-maybe-image{
    width:50px;
    height:50px
  }
   .sortoneanimation,.sorttwoanimation{ margin-right: 10%;}

  }
  @media only screen and (max-width:311px){
    .button-note{
      font-size: 50%;
    }
    .image{
      width:100px;
      height: 100px;
    }
    .onefruit-div{
      height:270px
    }
    }
  @media only screen and (max-width:275px){
    .inputdiv{font-size: x-small;}
    .nothaveitems-title{
      font-size: medium;
    }
    }